@import "tailwindcss";

:root {
  --white: #ffffff;
  --background: #e2e8f1;
  --primary: #0e172a;
  --gray: #838990;
  --description: #6d7883;
  --caption: "#90a1b9";
  --scrollbar-color: var(--color-neutral-300);
}

@theme inline {
  --color-white: var(--white);
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-gray: var(--gray);
  --color-description: var(--description);
  --color-caption: var(--caption);

  --font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--white);
  color: var(--primary);
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
}
