.to-do label {
  display: flex;
  gap: 6px;
  align-items: center;
}
.to-do input[type="checkbox"] {
  position: relative;
  width: 1rem;
  height: 1rem;
  color: #000;
  border: 1px solid #6e6e6e;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  &::before {
    position: absolute;
    content: "";
    display: block;
    top: 1px;
    left: 4px;
    width: 6px;
    height: 9px;
    border-style: solid;
    border-color: #fff;
    text-decoration: line-through;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  &:checked {
    color: #fff;
    border-color: green;
    background: green;
    text-decoration: line-through;
    &::before {
      opacity: 1;
    }
    ~ {
      text-decoration: line-through;
    }
  }
}

.youtube-embed lite-youtube {
  @apply max-w-full;
}

/* div span.italic {
  > .font-semibold {
    @apply pl-2;
  }
} */

.column-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Dinamik kolon genişlikleri */
  grid-auto-rows: 8px; /* Satır yüksekliğini kontrol eder */
  gap: 16px; /* Elemanlar arası boşluk */
}

.column-list .column {
  display: block;
  min-height: 300px;
  max-height: 550px;
}

.column-list img {
  width: 100%;
  display: block;
  border-radius: 8px; /* Köşeleri yuvarlar */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
  /* Görsellerin satır yüksekliğine göre doğru ölçeklenmesini sağlar */
  grid-row-end: span calc(550px / 8); /* Yüksekliği satır birimlerine bölerek ayarlar */
}
